
  <div class="item" ng-repeat = "todo in todos | orderBy: 'completed'" ng-init="todo.completed = false" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}">
    <input ng-model = "todo.completed" type="checkbox">
    <span ng-click = "todo.completed = !todo.completed"></span>
    <label ng-hide="editing" ng-click=" editing = !editing" class="editing-lable">{{todo.value}}</label>
    <input ng-change="todo.edited = true" ng-blur="editing = false" ng-show="editing" ng-model="todo.value" class="editing-lable" type="text">
    <div class="actions">
      <a ng-click="saveTodo(todo)" href="" class="save">save</a>
      <a ng-click="deleteTodo(todo, todos.indexOf(todo))" href="" class="delete">delete</a>
    </div>
  </div>
